:root{
    --dark-red:#201616;
}
.container{
    border: 1px solid brown;
    background-color: red;
    height: 300px;
    width: 300px;
    background-color: var(--dark-red);
}
.box{
    
    border: 2px solid green;
    background-color: aqua;
    --dark-red:#201616;
    color: var(--dark-red);
}