div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}
.translated{
    transform: perspective(10px) translateZ(-10px);
}
.scaled{
    transform: perspective(350px) 
     scaleZ(2) rotate(15deg);
}
.conic{
    background: conic-gradient(red ,orange,yellow,green,blue);
}