/* p{
    position: static;
} */
div{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: aqua;

}
.box3{
    position: relative;
     top: 100px;
     left: 50px;
    

}